<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="taki.eddine.premier.league.pro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".di.DaggerHiltBaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="taki.eddine.premier.league.pro.ui.appui.ActivityOfflineNews"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name="taki.eddine.premier.league.pro.ui.appui.EventDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name="taki.eddine.premier.league.pro.ui.appui.RssActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name="taki.eddine.premier.league.pro.ui.appui.ChangePickActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="taki.eddine.premier.league.pro.ui.appui.TeamPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taki.eddine.premier.league.pro.ui.appui.ActivitySettings"
            android:screenOrientation="portrait" />
        <activity
            android:name="taki.eddine.premier.league.pro.ui.appui.MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="taki.eddine.premier.league.pro.ui.appui.LottieActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarmmanager.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".services.NewsService"/>
        <service android:name=".services.BestScorersService"/>
        <service android:name=".services.LiveScoresService"/>
        <service android:name=".services.StandingsService"/>
        <service android:name=".services.BottomSheetStandingsService"/>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>